
.block {
  position: relative;
  background: white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0;
  padding: 2.5rem 1rem 1rem;
  flex: 1;

  &-container {
    position: relative;
    padding: 2.5rem 1rem 2.5rem;

    @media (min-width: $tablet-portrait) { display: flex; }
    @media (min-width: $tablet-landscape) { padding: 1rem 0 1rem; }
  }

  &-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background: black;
    border-radius: 10px 0px;
    text-align: center;
    height: 40px;
    width: 40px;
    padding-top: 10px;
  }

  .heading {
    margin-top: 0;
  }

  @media (min-width: $tablet-portrait) {
    margin: 1rem;
  }

  @media (min-width: $desktop) {
    margin: 2rem 2rem;
  }
}

.block-icon {
  margin-top: 20px;
  font-size: 32px;

  &-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);
    text-align: center;

    &::before{
      content: '';
      height: 55px;
      width: 55px;
      border: 3px solid black;
      border-radius: 50%;
      position: absolute;
      left: 8px;
      top: 8px;
    }

    &.dark::before{
      border: 3px solid $primary-colour;
    }
  }

  &.primary {
    color: $primary-colour;
    background: black;
  }
}

.dark-border {
  border: 5px solid black;
}

.angled-block {
  padding: 1rem 2rem;

  &:nth-child(1) {
    background: $primary-colour;
  }
  &:nth-child(2) {
    background: black;
    color: $primary-colour;
  }
  &:nth-child(3) {
    background: $complement-colour1;
  }
  &:nth-child(4) {
    background: $complement-colour2;
  }
  &:nth-child(5) {
    background: $primary-colour;
  }

  &__icon {
    font-size: 50px;
    position: absolute;
    right: 1rem;
  }

  @media (min-width: $tablet-portrait) {
    position: relative;
    width: 60vw;
    height: 500px;
    margin: 0 auto 0;
    padding: 2rem;
    transform-origin: center;
    z-index: -1;

    &:nth-child(1) {
      background: linear-gradient(75deg, $primary-colour 10%, rgba($primary-colour, 0) 100%);
      margin-top: -200px;

      @media (min-width: $tablet-landscape) {
        margin-top: -400px;
      }
    }
    &:nth-child(2) {
      background: linear-gradient(270deg, black 10%, rgba(black, 0) 100%);
      color: $primary-colour;
    }
    &:nth-child(3) {
      background: linear-gradient(75deg, $complement-colour1 10%, white 100%);
    }
    &:nth-child(4) {
      background: linear-gradient(270deg, $complement-colour2 10%, white 100%);
    }
    &:nth-child(5) {
      background: linear-gradient(75deg, $primary-colour 10%, white 100%);
    }

    &.left {
      transform: rotate(45deg);
      margin-left: -20vw;
      width: 70vw;

      @media (min-width: $tablet-landscape) {
        margin-left: -15vw;
      }
    }

    &.right {
      transform: rotate(-45deg);
      margin-left: 45vw;

      @media (min-width: $tablet-landscape) {
        margin-left: 55vw;
      }
    }

    &__content {
      max-width: 350px;

      @media (min-width: $desktop) {
        max-width: 420px;
      }
    }

    &__number {
      font-size: 80px;
      color: black;
    }

    &__icon {
      font-size: 300px;
      margin: 0;
      position: absolute;
      color: rgba(black, .2);
      .right & {
        right: 0;
        top: -90px;
      }
      .left & {
        left: -110px;
        top: -150px;
      }
    }

    &.right &__content {
      margin-top: -150px;
      position: absolute;
      left: 0;
      transform: rotate(45deg);
      transform-origin: bottom left;
    }

    &.left &__content {
      margin: 0 2rem 0 0;
      position: absolute;
      right: 0;
      transform: rotate(-45deg);
      transform-origin: center;

      @media (min-width: $desktop) {
        right: 200px;
      }
    }
  }
}