p, a {
  font-family: $copy-font;
}

a { text-decoration: none; color: black; }

.heading {
  font-family: $heading-font;
  font-weight: normal;
}

.button {
  background-color: black;
  color: white;
  font-family: $heading-font;
  border-radius: 30px;
  padding: 10px;
}

.page-content {
  max-width: $tablet-landscape;
  min-height: calc(100vh - #{$header-height-bg} - #{$footer-height});
  padding: 1rem;
  margin: calc(#{$header-height-bg} - #{$header-height} - #{$headline-height}) auto 0;
  position: relative;
}