@font-face {
  font-family: 'cabin';
  src: url('../fonts/cabin-regular-webfont.woff2') format('woff2'),
       url('../fonts/cabin-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hind-madurai';
  src: url('../fonts/hindmadurai-regular-webfont.woff2') format('woff2'),
       url('../fonts/hindmadurai-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hind-madurai';
  src: url('../fonts/hindmadurai-semibold-webfont.woff2') format('woff2'),
       url('../fonts/hindmadurai-semibold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'prompt';
  src: url('../fonts/prompt-regular-webfont.woff2') format('woff2'),
       url('../fonts/prompt-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prompt';
  src: url('../fonts/prompt-semibold-webfont.woff2') format('woff2'),
       url('../fonts/prompt-semibold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}