.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(black, .9);
  color: $primary-colour;
  display: none;
  z-index: 99;

  &-content {
    position: absolute;
    background: transparent;
    width: 100vw;
    max-height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3.5rem 1rem 1rem;
    overflow-y: scroll;

    @media (min-width: $tablet-portrait) {
      width: unset;
      min-width: 500px;
      min-height: 300px;
      max-width: 600px;
      border-radius: 1rem;
      background: white;
      color: black;
    }
  }

  &-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: white;

    @media (min-width: $tablet-portrait) {
      color: black;
    }
  }

  &.show {
    display: block;
  }
}