.nav-menu {
  display: none;
  
  &__item {
    font-family: $nav-menu-font;
    font-size: 1.2rem;
    margin: 0 1rem 0 0;
    border-bottom: 3px solid transparent;

    &.active {
      border-bottom: 3px solid black;
    }

    @media (min-width: $tablet-landscape) {
      margin: 0 2rem 0 0;
    }
  }

  .button {
    font-family: $nav-menu-font;
    padding: 5px 10px;
    @media (min-width: $tablet-landscape) {
      padding: 10px 40px;
    }
  }

  @media (min-width: $tablet-portrait) {
    display: flex;
    height: 3rem;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    max-width: 500px;
  }
}

.mobile-nav-toggle {
  font-size: 1.6rem;
  position: absolute;
  display: block;
  right: 1rem;
  top: 1.7rem;
  cursor: pointer;

  @media (min-width: $tablet-portrait) {
    display: none;
  }
}