$phone: 400px;
$tablet-portrait: 760px;
$tablet-landscape: 1000px;
$desktop: 1200px;
$desktop-large: 1800px;
$header-height: 80px;
$header-height-bg: 300px;
$header-height-mobile: 330px;
$footer-height: 240px;
$headline-height: 90px;
$headline-width: 450px;
$headline-margin: 1.5rem;

$title-font: 'cabin';
$button-font: $title-font;
$nav-menu-font: $title-font;
$heading-font: 'prompt';
$copy-font: 'hind-madurai';

$primary-colour: #FFEB54;
$secondary-colour: black;