$phone: 300px;
$tablet-portrait: 760px;
$tablet-landscape: 1000px;
$desktop: 1200px;
$desktop-large: 1800px;
$header-height: 100px;
$header-height-bg: 300px;
$footer-height: 140px;
$headline-height: 65px;

$title-font: 'cabin';
$button-font: $title-font;
$nav-menu-font: $title-font;
$heading-font: 'prompt';
$copy-font: 'hind-madurai';

$primary-colour: #FFEB54;
$secondary-colour: black;